<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <main class="landing-content" aria-label="Content">

        {% comment %} <h1>I am pac</h1> {% endcomment %}

        <div class="sub-heading">
        
          <div class="summary">
            <img src="/assets/images/logo.png" alt="logo">
          </div>
          
          <div class="nav-link">
            <ul>
            
            <li><a href="/blog/">Blog</a></li>
            <li><a href="{{site.baseurl}}about/">About</a></li>
            <li><a href="/projets/">Projets</a></li>
            </ul>
          </div>

        </div>

    </main>

  </body>

</html>

